// PUT CUSTOM SCSS / SASS HERE
@font-face {
    font-family: 'special_eliteregular';
    src: url('../fonts/specialelite-webfont.eot');
    src: url('../fonts/specialelite-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/specialelite-webfont.woff2') format('woff2'),
         url('../fonts/specialelite-webfont.woff') format('woff'),
         url('../fonts/specialelite-webfont.ttf') format('truetype'),
         url('../fonts/specialelite-webfont.svg#special_eliteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'special_eliteregular';
}

$ptv-red: #BB1212;

main, footer{
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/paper.jpg');
  background-repeat: repeat;
}

main{
  padding-bottom: 100px;
}

.container{
  position: relative;
  z-index: 2;
}

.full-w{
  width: 100%;
}

.spatter{
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/spatter.png');
  background-repeat: repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: 1;
}

.texture{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/texture.png');
  background-repeat: repeat;
  background-position: bottom center;
  opacity: 0.3;
  z-index: 0;
}

.quizz-container{
  z-index: 1;
  position: relative;
}

.left-gutter{
  width: 200px;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-y;
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/left.png');
}

.right-gutter{
  width: 200px;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-y;
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/right.png');
}

@media (min-width: 992px){
  .left-gutter{
    width: 300px;
    background-size: cover;
  }
  .right-gutter{
    width: 300px;
    background-size: cover;
  }
}


@media (max-width: 768px){
  .left-gutter{
    left: -5%;
  }
  .right-gutter{
    right: -5%;
  }
}

@media (max-width: 600px){
  .left-gutter{
    left: -10%;
  }
  .right-gutter{
    right: -10%;
  }
}

@media (max-width: 500px){
  .left-gutter{
    left: -20%;
  }
  .right-gutter{
    right: -20%;
  }
}

footer{
  position: relative;
  z-index: 999;
  margin-top: 0 !important;
  a,p,h1,h2,h3,h4,h5,
  .white-text,
  .grey-text,
  .footer-copyright{
    color: $ptv-red !important;
  }
  &:before{
    content: '';
    height: 119px;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url("https://s3.amazonaws.com/myfangate.com/ptvmovements/tornpaperfooter.png");
    margin-top: -86px;
    position: absolute;
  }
}
