main{
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/paper.jpg');
  background-repeat: repeat;
}

.container{
  position: relative;
  z-index: 1;
}

.full-w{
  width: 100%;
}

.spatter{
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/spatter.png');
  background-repeat: repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: 0;
}

.quizz-container{
  z-index: 1;
  position: relative;
}

.left{
  width: 200px;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-y;
  background-size: cover;
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/left.png');
}

.right{
  width: 200px;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-y;
  background-size: cover;
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptvmovements/right.png');
}

@media (min-width: 992px){
  .left{
    width: 300px;
  }
  .right{
    width: 300px;
  }
}


@media (max-width: 768px){
  .left{
    left: -5%;
  }
  .right{
    right: -5%;
  }
}

@media (max-width: 600px){
  .left{
    left: -10%;
  }
  .right{
    right: -10%;
  }
}

@media (max-width: 500px){
  .left{
    left: -20%;
  }
  .right{
    right: -20%;
  }
}
