<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "Pierce The Veil Misadventures Tour" %></title>
<meta name="description" content="FREE DOWNLOAD OF THE NEW SONG “KEPT” BY MOVEMENTS" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Pierce The Veil Misadventures Tour">
<meta itemprop="description" content="FREE DOWNLOAD OF THE NEW SONG “KEPT” BY MOVEMENTS">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/ptvmovements/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@piercetheveil">
<meta name="twitter:title" content="Pierce The Veil Misadventures Tour">
<meta name="twitter:description" content="FREE DOWNLOAD OF THE NEW SONG “KEPT” BY MOVEMENTS">
<meta name="twitter:creator" content="@piercetheveil">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/ptvmovements/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Pierce The Veil Misadventures Tour" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.piercetheveil.net" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/ptvmovements/shareimage.jpg" />
<meta property="og:description" content="FREE DOWNLOAD OF THE NEW SONG “KEPT” BY MOVEMENTS" />
<meta property="og:site_name" content="Pierce The Veil Misadventures Tour" />
