<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 shadowed quiz">
      <div class="row">
        <div class="col s12">
          <div class="quizz-container" data-width="100%" data-height="auto" data-quiz="229933"></div>
          <script src="//dcc4iyjchzom0.cloudfront.net/widget/loader.js" async></script>
        </div>
      </div>
    </div>
  </div>
</div>
