<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <a href="//www.piercetheveil.net" target="_blank" class="btn-large waves-effect waves-light ptv-red white-text">ENTER PIERCETHEVEIL.NET</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Fearless Records
    <a class="right" target="_blank" href="http://fearlessrecords.com">fearlessrecords.com</a>
    </div>
  </div>
</footer>
